<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Agregar Cliente</title>
  </head>
  <body>
    <h1>Agregar Cliente</h1>

    <form action="{{ url_for('add') }}" method="POST">
      <label for="nombre">Nombre:</label><br />
      <input type="text" id="nombre" name="nombre" required /><br /><br />

      <label for="direccion">Dirección:</label><br />
      <input type="text" id="direccion" name="direccion" /><br /><br />

      <label for="telefono">Teléfono:</label><br />
      <input type="text" id="telefono" name="telefono" /><br /><br />

      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" /><br /><br />

      <button type="submit">Guardar Cliente</button>
    </form>
    <a href="{{url_for('clients')}}">Volver</a>
  </body>
</html>
